/* Navigation */
.nav
{                
    font-family: 'DM Serif Display';
    font-size: 13px;
    word-spacing: 100px;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-top: -490px;
    position: fixed;
    opacity: 85%;
}
a
{
    text-decoration: none;
    color: white;
}
.nav-img
{
    margin-left: 0px;
}
.icon
{
    margin-left: 0px;
    margin-bottom: 490px;
}
/*--------------*/

/* Background */
body
{
    background-color: black;
}
/*--------------*/